In [94]:
# Importing all the libraries used below
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [95]:
# reading the data file "movie_metadata.csv" stored as a object in IBM watson studio and displaying top 5 rows
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_232cba46ba0b4901b912f6f6602b2460 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='HSzrtaRvR7JZipi7do5dKpzRjsOnA5JpXLKsWICJdQpU',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_232cba46ba0b4901b912f6f6602b2460.get_object(Bucket='predictionofimdbscore-donotdelete-pr-d9i2wult68ih1k',Key='movie_metadata.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [96]:
df = df_data_1
df.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [97]:
# illustrating the statistics of the dataset
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [98]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### Our prediction variable is the "imdb_score" variable. Lets analyze the values of the label

In [99]:
df['imdb_score'].value_counts()

6.7    223
6.6    201
7.2    195
6.5    186
6.4    185
7.3    184
7.0    184
7.1    181
6.8    181
6.1    179
6.3    176
6.2    175
6.9    174
7.4    147
5.9    144
7.5    140
6.0    131
7.6    124
5.8    124
5.7    117
7.7    114
5.6    112
7.8    106
5.4    104
5.5     98
5.3     92
8.0     75
7.9     75
5.1     71
8.1     69
      ...
3.5     15
3.9     14
3.8     14
3.6     14
8.7     13
3.4     12
2.8      9
3.7      9
3.1      8
8.8      7
3.2      7
2.7      6
3.0      5
8.9      5
2.9      4
2.2      3
2.1      3
1.9      3
9.0      3
9.1      3
2.3      3
2.5      2
2.0      2
2.4      2
2.6      2
9.3      1
1.7      1
9.5      1
9.2      1
1.6      1
Name: imdb_score, Length: 78, dtype: int64

### we see that our prediction variable "imdb_score" has 78 distinct values. Hence to reduce the possible predictions to 9,we have rounded off the float variable into integer.

In [100]:
df['imdb_score'] = df['imdb_score'].apply(np.int64)

In [101]:
df['imdb_score'].value_counts()

6    1811
7    1450
5     972
4     326
8     319
3     115
2      36
9       9
1       5
Name: imdb_score, dtype: int64

### Data Pre-processing and Feature selection

In [102]:
# droping all the null values
df = df.dropna()

In [103]:
features = df[['director_facebook_likes','cast_total_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','movie_facebook_likes','facenumber_in_poster','gross','budget']]
features.head()
features.count()

director_facebook_likes      3756
cast_total_facebook_likes    3756
actor_1_facebook_likes       3756
actor_2_facebook_likes       3756
actor_3_facebook_likes       3756
movie_facebook_likes         3756
facenumber_in_poster         3756
gross                        3756
budget                       3756
dtype: int64

### droping the nan values from the features dataframe

In [104]:
features = features.dropna()
features.count()

director_facebook_likes      3756
cast_total_facebook_likes    3756
actor_1_facebook_likes       3756
actor_2_facebook_likes       3756
actor_3_facebook_likes       3756
movie_facebook_likes         3756
facenumber_in_poster         3756
gross                        3756
budget                       3756
dtype: int64

In [105]:
label = df[['imdb_score']]
label.head()
label.count()

imdb_score    3756
dtype: int64

In [106]:
label.dropna()
label.count()

imdb_score    3756
dtype: int64

### Splitting the dataset into train and test data

In [107]:
from sklearn.model_selection import train_test_split
data_train, data_test, labels_train, labels_test = train_test_split(features, label, test_size=0.20, random_state=42)

### lets define X as feature set and y as label set

In [108]:
X = data_train
y = labels_train

### Normalize data

In [109]:
X= preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  if __name__ == '__main__':

array([[-0.25111333, -0.24617278, -0.34301406, -0.23801553,  0.04161585,
         0.40441232, -0.65971339,  5.42338812, -0.00872863],
       [-0.26047711, -0.47479967, -0.42465901, -0.31478479, -0.28125747,
        -0.45198568,  3.16242554, -0.4597647 , -0.12796699],
       [-0.18222263,  0.11053907,  0.26356058, -0.21350097, -0.2875677 ,
         0.10215421,  0.29582134, -0.75311157, -0.17168772],
       [-0.26047711, -0.48073739, -0.4062798 , -0.39348942, -0.32753247,
         0.70667044, -0.65971339, -0.557017  , -0.12796699],
       [-0.26047711,  0.54638715,  0.50619044,  0.6466589 ,  0.04687438,
         0.60591774,  0.29582134,  3.83037854,  0.18205274]])

## Classification

### K Nearest Neighbor(KNN)¶

In [110]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import jaccard_similarity_score, log_loss, f1_score
from sklearn import metrics

In [111]:
#Train Model and Predict  
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=6)
KNN = KNeighborsClassifier(n_neighbors = 4).fit(X_train,y_train)

print("Train set Accuracy: ", metrics.accuracy_score(y_train, KNN.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_valid, KNN.predict(X_valid)))
KNN

Train set Accuracy:  0.5722014148980441
Test set Accuracy:  0.3211314475873544

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  app.launch_new_instance()

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

### Decision tree

In [112]:
from sklearn import tree

In [113]:
DT = tree.DecisionTreeClassifier(criterion="entropy", max_depth = 4)
DT = DT.fit(X, y)

In [114]:
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_valid, DT.predict(X_valid)))

DecisionTrees's Accuracy:  0.46589018302828616

### Support Vector Machine

In [115]:
from sklearn.svm import SVC

In [116]:
svm = SVC(gamma='auto')
svm = svm.fit(X, y)

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [117]:
print("Train set jaccard similarity score: ", jaccard_similarity_score(y_train, KNN.predict(X_train)))
print("Valid set jaccard similarity score: ", jaccard_similarity_score(y_valid, KNN.predict(X_valid)))
print("Train set f1 score: ", f1_score(y_train, KNN.predict(X_train), average='weighted'))
print("Valid set f1 score: ", f1_score(y_valid, KNN.predict(X_valid), average='weighted'))

Train set jaccard similarity score:  0.5722014148980441
Valid set jaccard similarity score:  0.3211314475873544
Train set f1 score:  0.5693161229475167
Valid set f1 score:  0.32303790244455444

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

### Evaluation

In [118]:
X_test = preprocessing.StandardScaler().fit(data_test).transform(data_test)
y_test = labels_test

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  if __name__ == '__main__':

In [119]:
KNN_pred = KNN.predict(X_test)
DT_pred = DT.predict(X_test)
svm_pred = svm.predict(X_test)

In [120]:
jaccard_score = [jaccard_similarity_score(y_test, KNN_pred),
                 jaccard_similarity_score(y_test, DT_pred),
                 jaccard_similarity_score(y_test, svm_pred)]


F1_score = [f1_score(y_test, KNN_pred, average='weighted'),
            f1_score(y_test, DT_pred, average='weighted'),
            f1_score(y_test, svm_pred, average='weighted')]

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

### Report

In [121]:

df = {'Algorithm': ['KNN', 'Decistion Tree', 'SVM'], \
     'Jaccard': jaccard_score, 'F1-score': F1_score}
df_final = pd.DataFrame(data=df, columns=['Algorithm', 'Jaccard', 'F1-score'], index=None)
df_final

        Algorithm   Jaccard  F1-score
0             KNN  0.319149  0.311377
1  Decistion Tree  0.373670  0.343138
2             SVM  0.414894  0.314273